@model BPT.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Broken Picture Telephone</h2>

<p>Your starter: @ViewBag.starter</p>
<p>Id: @ViewBag.id</p>

@Html.ActionLink("Start", "Start", "Home", routeValues: new
{
    Id = @ViewBag.id,
},
    htmlAttributes: null
)


<form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StarterText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StarterText" class="form-control" />
                <span asp-validation-for="StarterText" class="text-danger"></span>
            </div>
        </div>
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>




